#
# Power Managment devices
#

menu "Advanced Power Management devices"

config MX27_DPTC
	bool "MXC DPTC driver"
	depends on ARCH_MX27 && MXC_PMIC_MC13783
	default y
	help
	   This selects the Freescale MX27 Internal DPTC driver.
	   If unsure, say N.

endmenu
